<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="UAOOI.Configuration.Networking" publicKeyToken="deede3c2df331bb0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.3.25935" newVersion="2.0.3.25935" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>