<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UAOOI.DataDiscovery.DiscoveryServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <UAOOI.DataDiscovery.DiscoveryServices.Properties.Settings>
            <setting name="DataDiscoveryRootServiceUrl" serializeAs="String">
                <value>http://localhost/root.zone/DomainDescriptor.xml</value>
            </setting>
        </UAOOI.DataDiscovery.DiscoveryServices.Properties.Settings>
    </applicationSettings>
</configuration>