<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.5" targetFramework="net471" />
  <package id="Microsoft.DependencyValidation.Analyzers" version="0.11.0" targetFramework="net472" />
  <package id="MSTest.TestAdapter" version="2.1.2" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.1.2" targetFramework="net472" />
  <package id="System.CodeDom" version="5.0.0-preview.8.20407.11" targetFramework="net472" />
  <package id="System.Diagnostics.TraceSource" version="4.3.0" targetFramework="net471" />
  <package id="UAOOI.Common.Infrastructure" version="4.0.2" targetFramework="net472" />
</packages>