<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.4.3" targetFramework="net461" />
  <package id="CommonServiceLocator" version="2.0.5" targetFramework="net461" requireReinstallation="true" />
  <package id="Microsoft.DependencyValidation.Analyzers" version="0.11.0" targetFramework="net472" />
  <package id="UAOOI.SemanticData.BuildingErrorsHandling" version="5.1.0" targetFramework="net461" />
  <package id="UAOOI.SemanticData.InformationModelFactory" version="5.1.0" targetFramework="net461" />
  <package id="UAOOI.SemanticData.UAModelDesignExport" version="5.1.0" targetFramework="net461" />
  <package id="UAOOI.SemanticData.UANodeSetValidation" version="5.1.0" targetFramework="net461" />
</packages>