<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UAOOI.SemanticData.UANetworking.ReferenceApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UAOOI.SemanticData.UANetworking.ReferenceApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <userSettings>
    <UAOOI.SemanticData.UANetworking.ReferenceApplication.Properties.Settings>
      <setting name="UDPPort" serializeAs="String">
        <value>4840</value>
      </setting>
      <setting name="AssociationConfigurationId" serializeAs="String">
        <value>C1F53FFB-6552-4CCC-84C9-F847147CDC85</value>
      </setting>
      <setting name="RemoteHostName" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="ProducerId" serializeAs="String">
        <value>6D481513-444F-40FB-826D-4706AFD05E2F</value>
      </setting>
      <setting name="RemoteUDPPortNumber" serializeAs="String">
        <value>4840</value>
      </setting>
      <setting name="DefaultMulticastGroup" serializeAs="String">
        <value>139.255.255.1</value>
      </setting>
    </UAOOI.SemanticData.UANetworking.ReferenceApplication.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <UAOOI.SemanticData.UANetworking.ReferenceApplication.Properties.Settings>
      <setting name="ConsumerConfigurationFileName" serializeAs="String">
        <value>ConfigurationDataConsumer.xml</value>
      </setting>
      <setting name="ProducerConfigurationFileName" serializeAs="String">
        <value>ConfigurationDataProducer.xml</value>
      </setting>
    </UAOOI.SemanticData.UANetworking.ReferenceApplication.Properties.Settings>
  </applicationSettings>
  <system.diagnostics>
    <sources>
      <source name="System.Net.Sockets">
        <listeners>
          <add name="LogFile"/>
          <add name="DebugOutput"/>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="System.Net.Sockets" value="Verbose"/>
      <!-- value:  Required String attribute. Sets the verbosity of the output. 
                  Legitimate values are Critical, Error, Verbose, Warning, and Information.
      -->
      <!-- maxdatasize:  Optional Int32 attribute. Sets the maximum number of bytes of network data included in each line trace. 
                         The default value is 1024.
      -->
      <!-- tracemode Optional String attribute. Set to includehex to show protocol traces in hexadecimal and text format. 
      Set to protocolonly to show only text. The default value is includehex.
      -->
    </switches>
    <sharedListeners>
      <add name="DebugOutput" type="System.Diagnostics.ConsoleTraceListener" initializeData="false">
        <!-- Allows all events through. -->
        <!-- <filter type="System.Diagnostics.EventTypeFilter" initializeData="All" /> -->
        <!-- Allows the Stop, Start, Suspend, Transfer, and Resume events through. -->
        <!-- <filter type="System.Diagnostics.EventTypeFilter" initializeData="ActivityTracing" /> -->
        <!-- Allows only Critical events through.  -->
        <!-- <filter type="System.Diagnostics.EventTypeFilter" initializeData="Critical" /> -->
        <!-- Allows Critical and Error events through.  -->
        <!-- <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error" /> -->
        <!-- Allows Critical, Error, Warning, and Information events through. -->
        <!-- <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information" /> -->
        <!-- Does not allow any events through. -->
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All"/>
        <!-- Allows Critical, Error, Warning, Information, and Verbose events through.  -->
        <!-- <filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose" /> -->
        <!-- Allows Critical, Error, and Warning events through. -->
        <!-- <filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning" /> -->
      </add>
      <add name="LogFile" type="System.Diagnostics.DelimitedListTraceListener" initializeData="UANetworkingReferenceApplication.log" traceOutputOptions="DateTime">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All"/>
      </add>
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>
</configuration>
