<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="AddressSpacePrototyping" switchValue="All" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="LogFile" />
          <add name="WarningFile" />
          <add name="configConsoleListener" />
          <remove name="Default" />
        </listeners>
      </source>
      <source name="UAModelDesignExport" switchValue="All" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="LogFile" />
          <add name="WarningFile" />
          <add name="configConsoleListener" />
          <remove name="Default" />
        </listeners>
      </source>
      <source name="UANodeSetValidation" switchValue="All" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="LogFile" />
          <add name="WarningFile" />
          <add name="configConsoleListener" />
          <remove name="Default" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="WarningFile" type="System.Diagnostics.DelimitedListTraceListener" initializeData="asp.warnings.log" traceOutputOptions="DateTime">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information" />
      </add>
      <add name="LogFile" type="System.Diagnostics.DelimitedListTraceListener" initializeData="asp.log" traceOutputOptions="DateTime">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All" />
      </add>
      <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener" >
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning" />
        <!--All, Critical, Error, Information, Off,  Verbose, Warning-->
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>