<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UAOOI.Common.Infrastructure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UAOOI.Common.Infrastructure.Properties.Settings>
            <setting name="TraceSourceName" serializeAs="String">
                <value>UAOOI.Common</value>
            </setting>
        </UAOOI.Common.Infrastructure.Properties.Settings>
    </userSettings>
</configuration>